@{
    Layout = "";
}
@model Nop.Plugin.Payments.Checkoutapipayment.Models.CreditCardModel
@using Nop.Web.Framework;
@using Nop.Plugin.Payments.Checkoutapipayment

<p>Please Select your Credit Card Type</p>

<table>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.cko_cc_token, new { @type = "hidden" })
        </td>
    <tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.cko_cc_email, new { @type = "hidden" })
        </td>
    <tr>
</table>

<script src="https://www.checkout.com/cdn/js/Checkout.js"></script>
<div style="" class="widget-container">
    <script type="text/javascript">
        window.CKOConfig = {
            namespace: 'CKOJS',
            publicKey: '@ViewBag.publickey',
            customerEmail: '@ViewBag.email',
            customerName: '@ViewBag.name',
            value: '@ViewBag.amount',
            currency: '@ViewBag.currency',
            billingDetails: {
                addressLine1: '@ViewBag.addressLine1',
                addressLine2: '@ViewBag.addressLine2',
                postcode: '@ViewBag.postcode',
                country: '@ViewBag.country',
                city: '@ViewBag.city',
                state: '@ViewBag.state',
                phone: '@ViewBag.phone'
            },
            widgetContainerSelector: '.widget-container',
            widgetRendered: function (event) {
                $(".cko-pay-now").hide();
            },
            cardTokenReceived: function (event) {
                document.getElementById('cko_cc_token').value = event.data.cardToken;
                document.getElementById('cko_cc_email').value = event.data.email;
            }
        };

    </script>

</div>